.about_topbrands {
	padding: 80px 40px;
	line-height: 30px;
	text-align: justify;
}

.about_topbrands h2 {
	font-size: 35px;
	text-align: center;
	font-weight: 600;
	padding-bottom: 20px;
}

.about_topbrands p {
	font-size: 20px;
}

.item111 {
	background-image: url(../images/sales_training.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}

.item222 {
	background-image: url(../images/implement.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.item333 {
	background-image: url(../images/success_monitor.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.sales_middle_banner {
	background-image: url(../images/sales_parallax_img.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.activation_middle_banner {
	background-image: url(../images/activation_middle_banner.png);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.outsource_middle_banner {
	background-image: url(../images/outsource.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.sec_sales_middle_banner {
	background-image: url(../images/sec_sales_parallax_img.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.sec_activation_middle_banner {
	background-image: url(../images/img.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.sec_outsource_middle_banner {
	background-image: url(../images/img_outsource.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.activation_banner3 {
	background-image: url(../images/activation_banner3.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.activation_banner2 {
	background-image: url(../images/activation_banner2.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.activation_banner1 {
	background-image: url(../images/activation_banner1.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.outsource1 {
	background-image: url(../images/outsource_banner1.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.outsource2 {
	background-image: url(../images/outsource_banner2.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.outsource3 {
	background-image: url(../images/outsource_banner3.jpg);
	background-size: 100% auto;
	height: 400px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: ;
}

.about_topbrands_after_sales_middle_banner {
	padding: 80px 40px;
	line-height: 30px;
	text-align: justify;
}

.about_topbrands_after_sales_middle_banner h2 {
	font-size: 35px;
	text-align: center;
	font-weight: 600;
	padding-bottom: 20px;
}

.about_topbrands_after_sales_middle_banner p {
	font-size: 20px;
}

.about_topbrands_feature_program {
	background-image: url(../images/sales_background.jpg);
	background-size: 100% auto;
	height: auto;
}

.about_topbrands_feature_program_content {
	padding: 40px 40px;
	line-height: 30px;
	text-align: justify;
}

.about_topbrands_feature_program_content h2 {
	font-size: 35px;
	text-align: center;
	font-weight: 600;
	padding-bottom: 20px;
}

.sale_first_img_inside_card {
	background-image: url(../images/e1.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.sale_second_img_inside_card {
	background-image: url(../images/e2.jpg);
	background-size: 100% auto;
	height: 200px;
	background-repeat: no-repeat;
}

.sale_third_img_inside_card {
	background-image: url(../images/e3.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.sale_fourth_img_inside_card {
	background-image: url(../images/e4.jpeg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.activation_first_img_inside_card {
	background-image: url(../images/activation1.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.activation_second_img_inside_card {
	background-image: url(../images/activation2.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.activation_third_img_inside_card {
	background-image: url(../images/activation3.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.activation_fourth_img_inside_card {
	background-image: url(../images/outsource1.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.outsource_fourth_img_inside_card {
	background-image: url(../images/outsource1.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.outsource_third_img_inside_card {
	background-image: url(../images/outsource3.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.outsource_second_img_inside_card {
	background-image: url(../images/outsource4.jpg);
	background-size: 100% auto;
	height: 200px;
	background-repeat: no-repeat;
}

.outsource_first_img_inside_card {
	background-image: url(../images/outsource2.jpg);
	background-size: auto 100%;
	height: 200px;
	background-repeat: no-repeat;
}

.card-body h2 {
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	padding: 20px;
}

.card-body p {
	font-size: 15px;
	text-align: justify;
}

.sales_container {
	padding-bottom: 40px;
}